@import './normalize.scss';
@import './settings.scss';
@import './layouts.scss';

body p {
    font-family: $font-paragraph;
}

.header-container {
    display: -ms-grid;
    display: grid;
    background-color: $main-color;
    -ms-grid-columns: 0.3fr 0.5fr 1fr;
        grid-template-columns: 0.3fr 0.5fr 1fr;
    @include for-mobile {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 0.5fr 3fr 1fr;
            grid-template-columns: 0.5fr 3fr 1fr;
    }
    
    h1{
        margin: 0 0 0 20%;
        padding: 5%;
        color: $white;
        font-family: $font-titles;
    }
    .logo-container img {
        margin-top: 1%;
        width: 40%; 
        @include for-tablet-portrait {
            width: 90%;
        }
        @include for-mobile {
            margin-top: 10%;
            width: 50%;
        }   
    }

    a {
        text-decoration: none;
    }

    p {
        color: $white;
    }
}

.menu-mobile {
    @include for-mobile {
        display: inline;
    }
    display: none;

    #btn-MenuMobile {
        border: 0;
        background-color: $main-color;
        color: $white;
        margin: 50% 50% 0 0;
    }
}

.wrapper-nav {
  
    @include for-tablet-portrait {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr 0.2fr;
        grid-template-columns: 1fr 1fr 1fr 0.2fr;
    }

    @include for-mobile {
        display: none;
    }

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto 0.5fr;
        grid-template-columns: auto auto auto 0.5fr;
    padding-top: 5%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    grid-gap: 20px;
    float: right;

    input {
        width: 80%;
        @include for-tablet-portrait {
            width: 100%;
        }
    }

    label {
        font-family: $font-titles;
        color: $white;
    }   
}

.wrapper-nav-mobile.hidden {
    display: none;
}

.wrapper-nav-mobile {
    top:0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    background-color: $platinum-gray;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;

    .login-container, .search-container, .list-container {
        padding-left: 20%;
        padding-top: 5%;   
    }
}

.articles-list {
    @include for-tablet-portrait {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    @include for-mobile {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
    } 

    margin-top: 5%;
    max-width: 60%;
    margin-left: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

    .review-extract {
        background-color: $white;
    }
    
    p {
        font-size: $font-size-p;
        line-height: 1.5;
        text-align: center;
    }

    span {
        @extend p;
    }
    h2 {
        color: $main-color;
        font-size: $font-size-h2;
        text-align: center;
    }
    img {
        width: 100%;
    } 
    .avatar {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #readmore-link  {
        text-align: right;
       
        a {
            text-decoration: none;
            color: $main-color;
            background-color: $platinum;   
        }
    }
}

footer {
    background-color: $secondary-color;
    padding: 1%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    position: -webkit- sticky;
    position: sticky;
}
