
/* Color-palette */
$main-color: #3E5450;
$secondary-color: #CDD1C4;
$platinum: #E8EBE4;
$platinum-gray: #E3E4E6;
$white: #FFFCFF;

/* Font families */
$font-paragraph: 'Karla', sans-serif;
$font-titles: 'Righteous', cursive;