<footer>
    <div class="footer-container">
        <p>Indie Books Reviews</p>
        <p>Developed by Alejandro Capparelli <a target="_blank" title="Alejandro Capparelli Linkedin" href="https://www.linkedin.com/in/alejandrocapparelli"> <i class="fab fa-linkedin"></i></a> </p>
    </div>
</footer>