<form action="">
    <label for="name">Nombre</label>
    <input type="text" name="name" class="fields">
    <label for="email">Email</label>
    <input type="email" name="email" class="fields">
    <label for="message">Comentario</label>
    <textarea name="message" class="fields"></textarea>
    <button type="submit" id="btn">Enviar</button>
</form>