<div class="wrapper-nav-mobile hidden">
        <div class="list-container">
            <label for="categories"><i class="fas fa-book"></i> </label>
            <select name="categories" id="">
                <option value="thriller">Triller</option>
                <option value="romantica">Romántica</option>
                <option value="aventura">Aventura</option>
                <option value="ciencia ficción">Ciencia Ficción</option>
                <option value="fantasía">Fantasía</option>
            </select>
        </div>
        <div class="search-container">
            <label for="search"><i class="fas fa-search"></i></label>
            <input type="text" name="search">
        </div>
        <div class="login-container">
                <label for="user"><i class="fas fa-user"></i></label>
                <input type="text" name="user" id=""> <br>
                <label for="password"><i class="fas fa-unlock-alt"></i></label>
                <input type="text" name="pass" id="">
        </div>
    </div>