@import 'styles/main.scss';

.full-article-container {
    max-width: 60%;
    margin-left: 20%;
    text-align: center;
    background-color: $white;

    article {
        font-family: $font-paragraph;
        font-size: $font-size-p;
        max-width: 70%;
        margin-left: 15%;
        padding: 1%;
    }

    h1, h2 {
        color: $main-color;
    }

    #like {
        background-color: $platinum-gray;
        border: none;
        color: $main-color;
        font-size: $font-size-h1;

    }
}

form {
    margin: 5% 0 0 30%;
    text-align: center;
    max-width: 40%;

    label  {
        margin-top: 2%;
        font-family: $font-paragraph;
        display: block;
        width: 100%;
        border: 0px solid;
        
    }

    input, textarea {
        @extend label;
        border-bottom: 1px solid $platinum;
    }

    button {
        margin: 2% 0 2% 40%;
        width: 20%;
        padding: 2%;
        border-radius: 20px;
        font-family: $font-titles;
        background-color: $platinum;
        display: block;
    }
}