@import 'styles/main.scss';

.full-article-container {
    max-width: 60%;
    margin-left: 20%;
    text-align: center;
    background-color: $white;

    article {
        font-family: $font-paragraph;
        font-size: $font-size-p;
        max-width: 70%;
        margin-left: 15%;
        padding: 1%;
    }

    h1, h2 {
        color: $main-color;
    }
}